<div class="bg-img w-screen h-screen flex-center">
  <div class="bg-white w-96 rounded-md shadow-md flex flex-col p-5">
    <div class="w-full h-10 border-b-2 border-zinc-100 text-xl pr-2">ورود</div>
    <div class="flex flex-col w-full h-full">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
        novalidate
        autocomplete="off"
      >
        <div class="w-full h-18 flex justify-around items-center relative">
          <p class="w-3/12">نام کاربری :</p>
          <input
            type="text"
            class="rounded-md w-9/12 border-zinc-300"
            formControlName="username"
          />
          <span
            class="absolute text-red-500 -bottom-1.5 text-xs right-24"
            *ngIf="
              loginForm.get('username')?.invalid &&
              (loginForm.get('username')?.touched ||
                loginForm.get('username')?.dirty)
            "
            >لطفا فیلد نام کاربری رو پر کنید .</span
          >
        </div>
        <div class="w-full h-18 flex justify-around items-center relative">
          <p class="w-3/12">رمز عبور :</p>
          <input
            [type]="passViewMode == true ? 'text' : 'password'"
            class="rounded-md w-9/12 border-zinc-300"
            formControlName="password"
          />
          <span class="absolute left-3" *ngIf="passViewMode">
            <svg
              (click)="passViewMode = !passViewMode"
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
          </span>
          <span class="absolute left-3" *ngIf="!passViewMode">
            <svg
              (click)="passViewMode = !passViewMode"
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
              />
            </svg>
          </span>
          <span
            class="absolute text-red-500 -bottom-1.5 text-xs right-24"
            *ngIf="
              loginForm.get('password')?.invalid &&
              (loginForm.get('password')?.touched ||
                loginForm.get('password')?.dirty)
            "
            >لطفا فیلد رمز عبور رو پر کنید .</span
          >
        </div>
        <div
          class="w-full flex flex-col items-center justify-between max-h-max mt-6"
        >
          <button
            [disabled]="pending"
            class="w-full rounded shadow bg-blue-500 text-center text-white h-10 cursor-pointer"
          >
            تایید
          </button>
          <p
            (click)="redirectToRegister()"
            class="min-w-max text-left text-blue-500 text-sm cursor-pointer mt-5"
          >
            حساب کاربری ندارید ؟ ثبت نام ...
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
